#vscode
.vscode/

#folders
solutions/*.png

#algorithms
*.txt
*.exe
*.o
main
tsp
callgrind.out.*
*.lp
Makefile

#thesis
*.loa
*.bcf
*.xml
*.gz
*.bbl
*.lof
*.log
*.lot
*.out
*.toc
*.fls
*.fdb_latexmk
*.aux
*.xmpi

notes.md
backup